[DEFAULT]
debug = true
{% if publisher %}
namespace = kolla
tag = {{ zuul.branch | basename }}
{% endif %}
push = false
logs_dir = /tmp/logs/build
template_override = /etc/kolla/template_overrides.j2

[opendaylight]
location = {{ nodepool_opendaylight_proxy}}/content/repositories/public/org/opendaylight/integration/distribution-karaf/0.3.4-Lithium-SR4/distribution-karaf-0.3.4-Lithium-SR4.tar.gz
